{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,"deps"}.
{deps, [
    {gproc,  ".*", {git, "git://github.com/uwiger/gproc",       {tag, "0.6.1"} }},
    %{rest,   ".*", {git, "git://github.com/synrc/rest",         {tag, "2.9"}    }},
    {erlydtl,".*", {git, "git://github.com/erlydtl/erlydtl",    {tag, "0.8.0"}  }},
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",        {tag, "2.4"} }},
    {mad,    ".*", {git, "git://github.com/synrc/mad",          {tag, "1.9"} }},
    {fs,     ".*", {git, "git://github.com/synrc/fs",           {tag, "1.9"} }},
    {sh,     ".*", {git, "git://github.com/synrc/sh",           {tag, "1.9"} }},
    {active, ".*", {git, "git://github.com/synrc/active",       {tag, "1.9"} }},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",          {tag, "4.4"} }},
    %{jsone,  ".*", {git, "git://github.com/sile/jsone.git",     {tag,"1.4.4"} }},
    {epgsql, ".*", {git, "https://github.com/epgsql/epgsql",    {tag, "3.3.0"} }},
    {pooler, ".*", {git, "https://github.com/221V/pooler.git",  {tag, "master"} }},
    {herd, ".*", {git, "https://github.com/wgnet/herd",         {tag, "1.3.3"} }},
    {epgsql_pool, ".*", {git, "https://github.com/221V/epgsql_pool", {tag, "master"} }}
]}.
{fetch_speed,fast_master}.
{verbose,1}.
