[
  {n2o, [{port,4025},{websocket_port,443},
        {app,eauc},
        {ttl, 86400},
        {appurl, <<"https://youreauc.win/">>},
        %{upload,"./apps/eauc/priv/static/"},
        {upload,"/var/www/eauc/uploads/"},
        {mode,dev},
        {route,routes},
        {mq,n2o_mq},
        {formatter,bert},
        {log_modules,config},
        {log_level,config},
        {log_backend,n2o_io},
        {session,n2o_session},
        {origin,<<"*">>},
        {bridge,n2o_cowboy},
        {pickler,n2o_pickle},
        {erroring,n2o_error},
        {event,pickle}]},
  {epgsql_pool,
        [{connection_timeout, 5000},
        {query_timeout, 3000},
        {transaction_timeout, 5000} ]}
].
