<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>EAUC | Auction</title>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/css/eauc.css">
</head>
<body>
<div class="row cont">

<div class="row middle">
  <p class="time_cont">Time: <span id="time_now"></span></p>
  <div id="hello_user"></div>
  <div id="lots_active"></div>
</div>

<div class="footer">
<span>2018++ &copy;</span>
</div>

</div>

<script>{{script}}</script>
<script src="/js/n2o/protocols/bert.js" defer></script>
<script src="/js/n2o/protocols/client.js" defer></script>
<script src="/js/n2o/protocols/nitrogen.js" defer></script>
<script src="/js/n2o/bullet.js" defer></script>
<script src="/js/n2o/xhr.js" defer></script>
<script src="/js/n2o/utf8.js" defer></script>
<script src="/js/n2o/template.js" defer></script>
<script src="/js/n2o/n2o.js" defer></script>
<script src="/js/n2o/validation.js" defer></script>
<script>
window.addEventListener("load", function load(e0){
  protos = [$client,$bert]; N2O_start();
},false);
</script>

<script src="/js/auction.js" defer></script>
</body>
</html>
